@charset "UTF-8";

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: linear-gradient(to right, #127369, #8aa6a3);
}

main {
  background-color: white;
  width: 600px;
  padding: 10px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #10403bbe;
}
p {
  text-align: justify;
}

h1 {
  color: #10403b;
  text-align: center;
  text-shadow: 2px 2px 0px rgb(44, 5, 5);
}
h2 {
  color: #4c5958;
}
